# SUPERVISED LEARNING

# Python Class Task and Assignments

In [12]:
import numpy as np                                                 # Implemennts milti-dimensional array and matrices
import pandas as pd                                                # For data manipulation and analysis
import pandas_profiling
import matplotlib.pyplot as plt                                    # Plotting library for Python programming language and it's numerical mathematics extension NumPy
import seaborn as sns                                              # Provides a high level interface for drawing attractive and informative statistical graphics
%matplotlib inline
sns.set()

from subprocess import check_output

#### Class Task
##### 1. What is the value of the expression 6 * (7 + 9) in Python?
##### 2. What is the value of the expression 6 * 7 + 9 in Python?
##### 3. How can you convert an integer to a floating-point number?
##### 4. How might you convert an octal, hexadecimal, or binary string to a plain integer and vice-versa?
##### 5. How can you truncate and round a floating-point number

In [15]:
6*(7+9) #calculates numerics in parenthesis first

96

In [16]:
6*7+9 # Follows operator precedence

51

In [17]:
aa=9
aa
aa=float(aa)
aa
type(aa)

float

In [18]:
ss=0o74
ss
# oct number converted to int when assigned to variable

60

In [19]:
type(ss)

int

In [20]:
abc=8
oct(abc) # oct function converts int to octal decimal number

'0o10'

In [21]:
aaa=0xf7ff
aaa

63487

In [22]:
drf=768
hex(drf)# hex function converts int to hex decimal number

'0x300'

In [23]:
bs=0b1010101
bs

85

In [24]:
asd=987
bin(asd) # bin function inbuilt in python converts int to binary string

'0b1111011011'

In [25]:
fp=253.359
round(fp)

253

In [26]:
round(fp,2)

253.36

In [27]:
ps = 983.45689214789
round(ps)

983

In [28]:
round(ps,3)

983.457

In [29]:
round(ps,2)

983.46

In [30]:
gh=983.45689214789
format(gh,'.2f')

'983.46'

In [31]:
hy=983.65489214789
format(hy,'.2f') # rounding to nearest decimal after 2 places

'983.65'

In [32]:
hy=983.65689214789
format(hy,'.2f')

'983.66'

#### Class task
##### Difference between sort method and sorted method.
##### Difference between pop method and remove method.
##### Explore insert(), index()
##### Find the output of del cities[0], del cities[1:]

In [33]:
cities = ['Mumbai', 'Bangalore', 'Hyderabad', 'Chennai', 'Delhi']
print(cities)

['Mumbai', 'Bangalore', 'Hyderabad', 'Chennai', 'Delhi']

In [34]:
cities.append('warangal')
cities

['Mumbai', 'Bangalore', 'Hyderabad', 'Chennai', 'Delhi', 'warangal']

In [35]:
# Inorder to add multiple cities together in the list we add extend method.
cities.extend(['Pune','Noida','Gurgaon']) 
cities

['Mumbai',
 'Bangalore',
 'Hyderabad',
 'Chennai',
 'Delhi',
 'warangal',
 'Pune',
 'Noida',
 'Gurgaon']

##### extend()method adds values in the original list with new indices

In [36]:
cities.append(['Vijayawada','Karimnagar']) 
cities

['Mumbai',
 'Bangalore',
 'Hyderabad',
 'Chennai',
 'Delhi',
 'warangal',
 'Pune',
 'Noida',
 'Gurgaon',
 ['Vijayawada', 'Karimnagar']]

##### append() method adds values as new list inside the original list

In [37]:
cities.pop(-1)

['Vijayawada', 'Karimnagar']

In [38]:
cities

['Mumbai',
 'Bangalore',
 'Hyderabad',
 'Chennai',
 'Delhi',
 'warangal',
 'Pune',
 'Noida',
 'Gurgaon']

In [39]:
cities.sort()
cities

['Bangalore',
 'Chennai',
 'Delhi',
 'Gurgaon',
 'Hyderabad',
 'Mumbai',
 'Noida',
 'Pune',
 'warangal']

In [40]:
sorted(cities)

['Bangalore',
 'Chennai',
 'Delhi',
 'Gurgaon',
 'Hyderabad',
 'Mumbai',
 'Noida',
 'Pune',
 'warangal']

In [41]:
states=("AP","TG","MP","HP","JK","Orissa","TN","Karnataka")
states

('AP', 'TG', 'MP', 'HP', 'JK', 'Orissa', 'TN', 'Karnataka')

In [42]:
sorted(states)

['AP', 'HP', 'JK', 'Karnataka', 'MP', 'Orissa', 'TG', 'TN']

##### Here sorted() method when applied on tuple returned as list

In [43]:
states

('AP', 'TG', 'MP', 'HP', 'JK', 'Orissa', 'TN', 'Karnataka')

In [44]:
cities.sort(reverse = True)
cities

['warangal',
 'Pune',
 'Noida',
 'Mumbai',
 'Hyderabad',
 'Gurgaon',
 'Delhi',
 'Chennai',
 'Bangalore']

##### Sort() is used for lists and not available for tuples.sorted () method is available for both lists and tuples

In [45]:
cities.pop()

'Bangalore'

In [46]:
cities.remove('Delhi')

In [47]:
cities

['warangal', 'Pune', 'Noida', 'Mumbai', 'Hyderabad', 'Gurgaon', 'Chennai']

##### pop() method takes index as argument and deletes items from list whereas remove() method takes any value in the list as argument, however both methods are used to remove /delete items from list.

In [48]:
cities.insert(2,'banglore')

In [49]:
cities

['warangal',
 'Pune',
 'banglore',
 'Noida',
 'Mumbai',
 'Hyderabad',
 'Gurgaon',
 'Chennai']

##### insert() method adds any item at specified index given in parameters

In [50]:
cities.index('Noida')

3

##### index() method returns the index of specified item present in the list

In [51]:
cities.count('Delhi')

0

In [52]:
cities.count('Chennai')

1

##### count() method returns the number of occurences of specified values in the list

In [53]:
cities.reverse()

In [54]:
cities

['Chennai',
 'Gurgaon',
 'Hyderabad',
 'Mumbai',
 'Noida',
 'banglore',
 'Pune',
 'warangal']

In [55]:
cities.clear()
cities

[]

##### clear() method removes all items in the list and returns empty list

In [56]:
cities=['Chennai','Gurgaon','Hyderabad','Mumbai','Noida','banglore','Pune','warangal']
cities

['Chennai',
 'Gurgaon',
 'Hyderabad',
 'Mumbai',
 'Noida',
 'banglore',
 'Pune',
 'warangal']

In [57]:
del cities[0]
cities

['Gurgaon', 'Hyderabad', 'Mumbai', 'Noida', 'banglore', 'Pune', 'warangal']

In [58]:
del cities[2:4]
cities

['Gurgaon', 'Hyderabad', 'banglore', 'Pune', 'warangal']

##### del used for both slicing and removing items from list

### Questions on Lists

In [59]:
#Listed are the top AI companies in the world
AI_companies=['Amazon','Facebook','HiSilicon','Google','Apple','Microsoft','SenseTime']

#### Sort the list in ascending order

#### Add multiple companies at once 'Nvidia', 'OpenAI' , 'Qualcomm' and 'Reliance' to the list

#### Lower the list using List comprehension

#### Elimiate 'Reliance' from the list

#### Extract 'Facebook', 'Google' and 'Microsoft' using a single command

In [60]:
AI_companies.sort()
AI_companies

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime']

In [61]:
AI_companies.extend(['Nvidia','OpenAI','Qualcomm','Reliance'])
AI_companies

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAI',
 'Qualcomm',
 'Reliance']

In [62]:
up_list= [a.lower() for a in AI_companies]
up_list

['amazon',
 'apple',
 'facebook',
 'google',
 'hisilicon',
 'microsoft',
 'sensetime',
 'nvidia',
 'openai',
 'qualcomm',
 'reliance']

In [63]:
AI_companies.pop(-1)
AI_companies

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAI',
 'Qualcomm']

In [64]:
[AI_companies[i] for i in (2,3,5)]

['Facebook', 'Google', 'Microsoft']

#### Class task 
##### Create a python dictionary and add elements (key,value) pair to it.

In [65]:
cntry_curr_dict={'BHARAT':'Rupee','USA':'Dollar','UK':'Pound Sterling',
                'UAE':'Dirham','RUSSIA':'Ruble','JAPAN':'Yen','France':'Euro'}
cntry_curr_dict

{'BHARAT': 'Rupee',
 'USA': 'Dollar',
 'UK': 'Pound Sterling',
 'UAE': 'Dirham',
 'RUSSIA': 'Ruble',
 'JAPAN': 'Yen',
 'France': 'Euro'}

### Questions on Dictionary
#### In the weekend , I purchased 250g of apple, 500g of sugar, 2.5 kg of rice, 2.5 litres of milk and finally 1 dozen of egg.
Can you help me frame the above purchase in the form of dictionary with commodities as keys to it.

I forgot to mention another item, 1kg of atta packet. Can you also add it ?

Instead of 2kg of rice, I bought only 1kg of rice. Can you change the corresponding value ?

Can you list out all these items using a loop.

#### However, the cost of 1 kg apple is Rs.220, 1 kg of sugar is Rs.43, 1 Kg of rice is Rs. 45, 1 litre of milk is Rs.30 and 1 dozen of egg is Rs. 60.
Create another dictionary for pricing.

Thereby, prepare a bill for me of the overall cost of the total commodities purchased by using two dictionaries !

In [66]:
sample_dict={'apple':250,'sugar':500,'rice':2000,'milk':2500,'egg':12}# converted to gms,ml,units
sample_dict

{'apple': 250, 'sugar': 500, 'rice': 2000, 'milk': 2500, 'egg': 12}

In [67]:
sample_dict['atta']=1000
sample_dict

{'apple': 250,
 'sugar': 500,
 'rice': 2000,
 'milk': 2500,
 'egg': 12,
 'atta': 1000}

In [68]:
sample_dict['rice']=1000
sample_dict

{'apple': 250,
 'sugar': 500,
 'rice': 1000,
 'milk': 2500,
 'egg': 12,
 'atta': 1000}

In [69]:
print("All items in dictionary with Quantites")
print('-'*40)
for item in sample_dict.items():
    print(item)

All items in dictionary with Quantites
----------------------------------------
('apple', 250)
('sugar', 500)
('rice', 1000)
('milk', 2500)
('egg', 12)
('atta', 1000)

In [70]:
print("All items in dictionary with Quantites")
print('-'*40)
for item in sample_dict.values():
    print(item)

All items in dictionary with Quantites
----------------------------------------
250
500
1000
2500
12
1000

In [71]:
print("All items in dictionary with Quantites")
print('-'*40)
for item in sample_dict.keys():
    print(item)

All items in dictionary with Quantites
----------------------------------------
apple
sugar
rice
milk
egg
atta

In [72]:
price_dict={'apple':220,'sugar':43,'rice':45,'milk':30,'egg':60,'atta':50} #price per 1 unit/1000 gm/1000 ml/12 eggs
price_dict

{'apple': 220, 'sugar': 43, 'rice': 45, 'milk': 30, 'egg': 60, 'atta': 50}

In [73]:
dict1={**sample_dict,** price_dict}
dict1

{'apple': 220, 'sugar': 43, 'rice': 45, 'milk': 30, 'egg': 60, 'atta': 50}

In [74]:
sample_dict['apple']

250

In [75]:
#new_dict={}
#if sample_dict.keys() == price_dict.keys():
        #new_dict.update((k,v*v)for k,v in sample_dict.items(),price_dict.items())
        #print(new_dict)

In [76]:
#new_dict=list(zip(sample_dict,sample_dict.values(),price_dict.values()))
#new_dict

### Questions on Tuple
(a)Consider the above standard price problem statement and place the prices in the form of the tuple.

(b)Find out the min and max price among them.

(c)Also, convert the above "AI_companies" list to a tuple.

(d)Combine two above tuples to a single tuple.

(e)Compare the length of two tuples.

In [77]:
samp_tuple=(220,43,45,30,60,1)
samp_tuple

(220, 43, 45, 30, 60, 1)

In [78]:
type(samp_tuple)

tuple

In [79]:
max(samp_tuple)

220

In [80]:
min(samp_tuple)

1

In [81]:
AI_companies

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAI',
 'Qualcomm']

In [82]:
AI_Companies=tuple(AI_companies)
AI_Companies

('Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAI',
 'Qualcomm')

In [83]:
len(AI_Companies)

10

In [84]:
len(samp_tuple)

6

In [85]:
AI_Companies+samp_tuple # Arithmetic operation allowed on tuples

('Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAI',
 'Qualcomm',
 220,
 43,
 45,
 30,
 60,
 1)

### Strings

#### Class Task
How many characters are there in the string "a\nb\x1f\000d"?

In [86]:
ab="a\nb\x1f\000d"
len(ab)

6

##### Calculate Length of the String 'Python for Beginners'.
##### Combine the string 'Python''for''Data Science'.
##### Try to combine a 'only' + 1.0 and check the result.

In [87]:
abc="Python for Beginners"
len(abc)

20

In [88]:
sd='Python ' + "for data Science"
sd

'Python for data Science'

In [89]:
'only'+1.0

TypeError: can only concatenate str (not "float") to str

##### Consider the string.

##### String_var = """ This document will help you to explore all the concepts of Python Strings!!! """

##### Result of slicing a string print(String_var[7:-4])
##### Replace 'document' with 'task' in above string
##### Split the string with space
##### Convert the entire string to lowercase
##### Remove all special characters and retain only text in the string.
##### Check whether the string isalpha()
##### Check whether the string endswith character 'S'.

In [90]:
String_var = """ This document will help you to explore all the concepts of Python Strings!!! """
String_var

' This document will help you to explore all the concepts of Python Strings!!! '

In [91]:
 print(String_var[7:-4])# has sliced charcaters 0 to 7 and last indices -1,-2,-3

ocument will help you to explore all the concepts of Python Strings

In [92]:
 String_var.replace('document','task')

' This task will help you to explore all the concepts of Python Strings!!! '

In [93]:
String_var.split()

['This',
 'document',
 'will',
 'help',
 'you',
 'to',
 'explore',
 'all',
 'the',
 'concepts',
 'of',
 'Python',
 'Strings!!!']

In [94]:
String_var.lower()

' this document will help you to explore all the concepts of python strings!!! '

In [95]:
punc="""'!!!'"""
new_str=''
for i in String_var:
    if i not in punc:
        new_str= new_str+i
print(new_str)

 This document will help you to explore all the concepts of Python Strings

In [96]:
String_var.isalpha()

False

In [97]:
String_var.endswith('S')

False

##### Try to find out the various format expressions mostly used.
##### Apply those format expressions to your own string.

In [98]:
str1="Honesty is {0} {1} {2} {3} ".format('the','best','policy','!!')
str1

'Honesty is the best policy !! '

In [99]:
str1="Touch the {pa1} of {pa2}".format(pa1="glory",pa2="sky")
str1

'Touch the glory of sky'

In [100]:
str2="Stay healthy by {:<7} Yoga".format('doing')
str2

'Stay healthy by doing   Yoga'

In [101]:
str2="Stay healthy by {:>7} Yoga".format('doing')
str2

'Stay healthy by   doing Yoga'

In [102]:
str2="Stay healthy by {:^7} Yoga".format('doing')
str2

'Stay healthy by  doing  Yoga'

In [103]:
str2="The format of {0} is {0:b}".format(6)
str2

'The format of 6 is 110'

In [104]:
str2="your score is {:0%}".format(0.5)
str2

'your score is 50.000000%'

In [105]:
str2="your score is {:%}".format(0.5)
str2

'your score is 50.000000%'

### Questions on String
Let's take the following string

" I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"

Consider the above text as a string, figure out the average length of the string.

Lower the text in the string.

Try to get the clean text removing the punctuation from the string.

Extract word "Data Science" from the string.

Find the frequency of words used in the string.

Find all the words which occurred more than once in the string.

Can you change the word "Supervised" to "Unsupervised" in the string

Splitting of the string with a dot operator(.)

Find the words from the string which ends with "e"

Figure out number of a's used in the string.

In [106]:
samp_str=" I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"

In [107]:
a1=len(samp_str)
a1

328

In [108]:
b=len(samp_str.split())
b

63

In [109]:
avg_len_str = a1/b
avg_len_str

5.2063492063492065

In [110]:
ab=samp_str.lower()
ab

' i am very keen in building up my career in data science, but not sure from where to start. if i search the web it throws me thousands of articles, few are relevant others make me confused, again i come around to the same page. supervised has provided me a good platform to remove all such qualms which were wrangling in my mind'

In [111]:
punc=''";:/?!@#$%^&*()~`,.[]{}|\<>"
new_clean_str=''
for i in samp_str:
    if i not in punc:
        new_clean_str=new_clean_str+i
print(new_clean_str)

 I am very keen in building up my career in Data Science but not sure from where to start If I search the web it throws me thousands of articles few are relevant others make me confused again I come around to the same page Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind

In [112]:
samp_str.index('Data')

44

In [113]:
samp_str[44:56]

'Data Science'

In [114]:
list_wrd=samp_str.split()
print(list_wrd)

['I', 'am', 'very', 'keen', 'in', 'building', 'up', 'my', 'career', 'in', 'Data', 'Science,', 'but', 'not', 'sure', 'from', 'where', 'to', 'start.', 'If', 'I', 'search', 'the', 'web', 'it', 'throws', 'me', 'thousands', 'of', 'articles,', 'few', 'are', 'relevant', 'others', 'make', 'me', 'confused,', 'again', 'I', 'come', 'around', 'to', 'the', 'same', 'page.', 'Supervised', 'has', 'provided', 'me', 'a', 'good', 'platform', 'to', 'remove', 'all', 'such', 'qualms', 'which', 'were', 'wrangling', 'in', 'my', 'mind']

In [115]:
freq_wrd=[]
for w in list_wrd:
    freq_word=freq_wrd.append(list_wrd.count(w))
print(freq_wrd)

[3, 1, 1, 1, 3, 1, 1, 2, 1, 3, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 3, 1, 2, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 3, 1, 1, 3, 2, 1, 1, 1, 1, 1, 3, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 3, 2, 1]

In [116]:
Frequency_of_wrds=str(list(zip(list_wrd,freq_wrd)))
print("Frequency of Words in the String: ")
print(Frequency_of_wrds)

Frequency of Words in the String:
[('I', 3), ('am', 1), ('very', 1), ('keen', 1), ('in', 3), ('building', 1), ('up', 1), ('my', 2), ('career', 1), ('in', 3), ('Data', 1), ('Science,', 1), ('but', 1), ('not', 1), ('sure', 1), ('from', 1), ('where', 1), ('to', 3), ('start.', 1), ('If', 1), ('I', 3), ('search', 1), ('the', 2), ('web', 1), ('it', 1), ('throws', 1), ('me', 3), ('thousands', 1), ('of', 1), ('articles,', 1), ('few', 1), ('are', 1), ('relevant', 1), ('others', 1), ('make', 1), ('me', 3), ('confused,', 1), ('again', 1), ('I', 3), ('come', 1), ('around', 1), ('to', 3), ('the', 2), ('same', 1), ('page.', 1), ('Supervised', 1), ('has', 1), ('provided', 1), ('me', 3), ('a', 1), ('good', 1), ('platform', 1), ('to', 3), ('remove', 1), ('all', 1), ('such', 1), ('qualms', 1), ('which', 1), ('were', 1), ('wrangling', 1), ('in', 3), ('my', 2), ('mind', 1)]

In [117]:
Frequency_of_wrds.count('3')

12

In [118]:
Frequency_of_wrds.count('2')

4

In [119]:
print("Words ocured more than once in the string are: ")
k=samp_str.split()
for w in k:
    if k.count(w)>1:
        print(w)

Words ocured more than once in the string are:
I
in
my
in
to
I
the
me
me
I
to
the
me
to
in
my

In [120]:
samp_str.replace('Supervised','UnSupervised')

' I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. UnSupervised has provided me a good platform to remove all such qualms which were wrangling in my mind'

In [121]:
samp_str.split('.')

[' I am very keen in building up my career in Data Science, but not sure from where to start',
 ' If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page',
 ' Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind']

In [122]:
samp_str.count('a')

22

In [123]:
l1=list(samp_str)
print(l1)

[' ', 'I', ' ', 'a', 'm', ' ', 'v', 'e', 'r', 'y', ' ', 'k', 'e', 'e', 'n', ' ', 'i', 'n', ' ', 'b', 'u', 'i', 'l', 'd', 'i', 'n', 'g', ' ', 'u', 'p', ' ', 'm', 'y', ' ', 'c', 'a', 'r', 'e', 'e', 'r', ' ', 'i', 'n', ' ', 'D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e', ',', ' ', 'b', 'u', 't', ' ', 'n', 'o', 't', ' ', 's', 'u', 'r', 'e', ' ', 'f', 'r', 'o', 'm', ' ', 'w', 'h', 'e', 'r', 'e', ' ', 't', 'o', ' ', 's', 't', 'a', 'r', 't', '.', ' ', 'I', 'f', ' ', 'I', ' ', 's', 'e', 'a', 'r', 'c', 'h', ' ', 't', 'h', 'e', ' ', 'w', 'e', 'b', ' ', 'i', 't', ' ', 't', 'h', 'r', 'o', 'w', 's', ' ', 'm', 'e', ' ', 't', 'h', 'o', 'u', 's', 'a', 'n', 'd', 's', ' ', 'o', 'f', ' ', 'a', 'r', 't', 'i', 'c', 'l', 'e', 's', ',', ' ', 'f', 'e', 'w', ' ', 'a', 'r', 'e', ' ', 'r', 'e', 'l', 'e', 'v', 'a', 'n', 't', ' ', 'o', 't', 'h', 'e', 'r', 's', ' ', 'm', 'a', 'k', 'e', ' ', 'm', 'e', ' ', 'c', 'o', 'n', 'f', 'u', 's', 'e', 'd', ',', ' ', 'a', 'g', 'a', 'i', 'n', ' ', 'I', ' ', 'c', 'o', 'm', 'e', ' ', 'a', 'r', 'o', 'u', 'n', 'd', ' ', 't', 'o', ' ', 't', 'h', 'e', ' ', 's', 'a', 'm', 'e', ' ', 'p', 'a', 'g', 'e', '.', ' ', 'S', 'u', 'p', 'e', 'r', 'v', 'i', 's', 'e', 'd', ' ', 'h', 'a', 's', ' ', 'p', 'r', 'o', 'v', 'i', 'd', 'e', 'd', ' ', 'm', 'e', ' ', 'a', ' ', 'g', 'o', 'o', 'd', ' ', 'p', 'l', 'a', 't', 'f', 'o', 'r', 'm', ' ', 't', 'o', ' ', 'r', 'e', 'm', 'o', 'v', 'e', ' ', 'a', 'l', 'l', ' ', 's', 'u', 'c', 'h', ' ', 'q', 'u', 'a', 'l', 'm', 's', ' ', 'w', 'h', 'i', 'c', 'h', ' ', 'w', 'e', 'r', 'e', ' ', 'w', 'r', 'a', 'n', 'g', 'l', 'i', 'n', 'g', ' ', 'i', 'n', ' ', 'm', 'y', ' ', 'm', 'i', 'n', 'd']

In [124]:
l1.count('a')

22

In [125]:
type(samp_str)

str

In [126]:
for word in samp_str.split():
            if word.endswith('e') :
                print(word)

sure
where
the
me
are
make
me
come
the
same
me
remove
were

#### Class Task 
##### Using if....else statement write a code to print if the temperature in Hyderabad exceeds more than 42 degrees," It is very sunny today" otherwise " The weather is okay".

In [127]:
t= input("Enter temp recorded today in Hyderabad: ")
t=int(t)
if t>42:
    print("It is very sunny today")
else:
    print("The weather is okay")

Enter temp recorded today in Hyderabad: 32
The weather is okay

#### Identity Operators

In [135]:
var1="lakshmi"
var2="suvarchala"
var1 is var2

False

In [136]:
var1="swathi"
var2="swathi"
var1 is var2

True

In [137]:
var1="swathi"
var2="lakshmi"
var1 is not var2

True

#### Membership Operators

In [138]:
la1=["tv","radio","mobile","laptop","desktop","supercomputer","microchip"]
print('tv' in  la1)
print('camera' in la1)
print('radio' not in la1)

True
False
False

#### Class Task 
##### Try to use various iterators in for loop like range, list, dictionaries and so on.
(i) Using enumerators execute For loop (ii) Count the index of the for loop using count variable.Also,Compare the above codes and find out the difference between them.

In [139]:
l1=[0,1,2,3,4,5,6]
sum=0
for i in l1:
    sum = sum+i
print("Sum of elememts in List: {}".format(sum))

Sum of elememts in List: 21

In [140]:
for i in range(1,20,5):
    print(i)

1
6
11
16

In [141]:
d1={'a':1,'b':2,'c':3,'d':4}
for k,v in d1.items():
    print(k,v)

a 1
b 2
c 3
d 4

In [142]:
d1={'a':1,'b':2,'c':3,'d':4}
for i in d1.items():
    print(i)

('a', 1)
('b', 2)
('c', 3)
('d', 4)

In [143]:
for i in d1.values():
    print(i)

1
2
3
4

In [144]:
for i in d1.keys():
    print(i)

a
b
c
d

In [145]:
t1=('red','white','yellow','black','green','blue')
for i in t1:
    print(i)

red
white
yellow
black
green
blue

In [146]:
fruits=["apples","mangoes","oranges","grapes","cherries","guavas"]
for ele in enumerate(fruits):
    print(ele)

(0, 'apples')
(1, 'mangoes')
(2, 'oranges')
(3, 'grapes')
(4, 'cherries')
(5, 'guavas')

##### Enumerate method returns tuple object with list items along with their index.

##### Trying to fetch second list values from corressponding indice of first list through enumerate object

In [147]:
vegies=["brinjals","tomatoes","chillies","carrots","beans","potatoes"]
fruits=["apples","mangoes","oranges","grapes","cherries","guavas"]
for i,veg in enumerate(vegies):
    print(i,veg)
    f=fruits[i]
    print("{} ,{}".format(f,veg))

0 brinjals
apples ,brinjals
1 tomatoes
mangoes ,tomatoes
2 chillies
oranges ,chillies
3 carrots
grapes ,carrots
4 beans
cherries ,beans
5 potatoes
guavas ,potatoes

#### Class Task 
##### How is list comprehension different from lambda function?
##### Using def function and map function find the square root of 4 and compare the difference.

In [148]:
even_num=[x for x in range(30)if x%2==0] # list comprehension
even_num

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [149]:
odd_num=list(map(lambda x: x%2!=0,[1,2,3,4,5,6,7,8,9,10])) # lambda function
odd_num

[True, False, True, False, True, False, True, False, True, False]

##### Lambda function alone can't iterate , iteration happens when used with map function and returned as list unlike in list comprehensions .

##### Both List Comprehensions and Lambda are fast and List comprehensions are more readable

In [150]:
def sqrtn(n):
          n=n**0.5
          print(n)
b=sqrtn(4)
b
type(b)

2.0

NoneType

In [151]:
import math
sa=[4,6]
print(map(math.sqrt,sa))

<map object at 0x00000214FB3FA390>

In [152]:
list(map(lambda x: x**0.5, [4]))

[2.0]